/*Les classes sont en majuscules pour les différencier de ceux de bootstrap dans l'html*/

:root {
  font-size: 62.5%;
}

body {
  background: url(images/bg.png) fixed;
  background-size: cover;
}

main {
  background-color: #6e2b0c9f;
  margin: 5% 0;
  font-size: 1.4rem;
}

h1 {
  padding: 25px 0 25px 30px;
  font-size: 4rem;
}

.ROSTER {
  padding: 0 60px;
  padding-bottom: 75px;
}

/* Media queries*/
@media screen and (max-width: 768px) {
  .ROSTER {
    padding: 0 0;
    padding-bottom: 5px;
  }
}

/* Ces classes sont pour enlever les modifications bootstrap*/
.RESET-BTN {
  color: inherit !important;
  background: none !important;
  border: none !important;
}

.RESET-A {
  color: inherit !important;
  text-decoration: inherit !important;
}

/*CLASSES BOOTSTRAP MODIFIÉS*/

.btn {
  background-color: rgba(255, 0, 0, 0.615);
  border: none;
  font-size: 1.3em;
}
