@{
    Layout = "_Layout";
}

<h1 class="text-uppercase">Détail du personnage</h1>
<p class="badge">
    Pour ajouter en favori, cliquer sur le bouton ou appuyer sur
    <kbd>CTRL + ALT + F</kbd>
</p>
<!--La balise kbd est utilisée notamment pour les entrées du claviers.-->
<div class="d-flex gap-4">
    <div class="card" style="width: 41rem">
        <img src="/images/Lyn.webp" class="card-img-top" alt="Image de Lyn" />
        <div class="card-body bg-dark text-light">
            <h5 class="card-title text-uppercase fs-1">Personnage vedette</h5>
            <btn class="btn btn-primary text-uppercase">Favoris +</btn>
        </div>
    </div>

    <div class="fs-1 text-decoration-underline">
        <p>Nom: <span id="Nom">Lyn</span></p>
        <p>Classes: Lord, Blade Lord</p>
        <p>Armes utilisés: Épées, Arc</p>
        <img class="h-100"
             src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/12e22940-f893-49db-8c80-1097e26ca19e/d7nkzjo-367786ef-951e-43ad-b96f-5e9d79e6dd4e.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzEyZTIyOTQwLWY4OTMtNDlkYi04YzgwLTEwOTdlMjZjYTE5ZVwvZDdua3pqby0zNjc3ODZlZi05NTFlLTQzYWQtYjk2Zi01ZTlkNzllNmRkNGUuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.dH1ZL4e5vOBV5pPkTByBqfxe2vdJd7MlipLE0rIv2bo"
             alt="" />
    </div>
</div>
<cite class="fs-2">"As if I'd lose!"</cite>
<!--Utilisé pour les citations-->
<footer class="pt-3">
    <h2>Sources des images</h2>
    <button type="button"
            class="RESET-BTN btn text-decoration-underline"
            data-bs-toggle="popover"
            data-bs-trigger="hover"
            data-bs-title="Source"
            data-bs-content="Fanart par kaejunni. (Cliquer pour le lien)">
        <a class="text-light" href="https://danbooru.donmai.us/posts/3292291">Lyn (Principal)</a>
    </button>
    <button type="button"
            class="RESET-BTN btn text-decoration-underline"
            data-bs-toggle="popover"
            data-bs-trigger="hover"
            data-bs-title="Source"
            data-bs-content="Animation de combat de sa classe avancée dans le jeu Fire Emblem 7, d'origine sur la Game Boy Advance. (Cliquer pour le lien)">
        <a class="text-light"
           href="hhttps://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/12e22940-f893-49db-8c80-1097e26ca19e/d7nkzjo-367786ef-951e-43ad-b96f-5e9d79e6dd4e.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzEyZTIyOTQwLWY4OTMtNDlkYi04YzgwLTEwOTdlMjZjYTE5ZVwvZDdua3pqby0zNjc3ODZlZi05NTFlLTQzYWQtYjk2Zi01ZTlkNzllNmRkNGUuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.dH1ZL4e5vOBV5pPkTByBqfxe2vdJd7MlipLE0rIv2bo">Lyn (Animée)</a>
    </button>
</footer>