@{
    Layout = "_Layout";
}

<h1>Rosters de Fire Emblem 7</h1>
<div class="container col row text-center">
    <div class="ROSTER col">
        <h2 class="p-3">Lyn</h2>
        <img class="pb-4" src="/images/Lyn_Cutscene.png" alt="Image de Lyn" />
        <a href="Enfant/Recherche" class="btn d-block btn-primary mb-4">Parcourir</a>
        <ul class="text-start">
            <li>4 personnages</li>
            <li>Disponibles à la première partie du jeu</li>
        </ul>
        <p class="text-start">
            Lyn, aussi connue sous le nom de Lyndis, est une épeiste solitaire
            qui a vécu avec sa tribu jusqu'à ce que celle-ci se fasse décimé par
            des bandits.
        </p>
        <p class="text-start">
            Elle apprend par la suite qu'elle est la petite fille du Seigneur
            Hausen de Caelin. Durant la quête de Lyn pour secourir son grand
            pêre elle rencontre plusieurs personnages pour l'aider tel que Sain
            et Kent.
        </p>
    </div>

    <div class="ROSTER col">
        <h2 class="p-3">Eliwood</h2>
        <img class="pb-4"
             src="/images/Eliwoood_Cutscene.png"
             alt="Image d'Eliwood" />
        <a href="Enfant/Recherche" class="btn d-block btn-primary mb-4">Parcourir</a>
        <ul class="text-start">
            <li>4 personnages</li>
            <li>Disponibles à la deuxième partie du jeu</li>
        </ul>
        <p class="text-start">
            Eliwood est un enfant de nobles de la maison de Pharae. Eliwood est
            ami avec Hector depuis qu'il est tout petit, ceux-ci se combattant
            depuis l'âge de douze ans à tout les deux mois, comme les traditions
            l'exigent. Eliwood rejoint Lyn dans sa quête pour reprendre Caelin.
        </p>
        <p class="text-start">
            1 an après les évènements de Caelin, des rumeurs circule sur la
            disparation et la mort de son père, ce qui l'incite à vérifier ces
            rumeurs. Lui et sa troupe de soldat font face aux Black Fangs, un
            groupe d'assassins et de mercenaires apparemment responsable de tout
            ça.
        </p>
    </div>

    <div class="ROSTER col">
        <h2 class="p-3">Hector</h2>
        <img class="pb-4"
             src="/images/Hector_Cutscene.png"
             alt="Image d'Hector" />
        <a href="Enfant/Recherche" class="btn d-block btn-primary mb-4">Parcourir</a>
        <ul class="text-start">
            <li>4 personnages</li>
            <li>Disponibles à la deuxième et troisième partie du jeu</li>
        </ul>
        <p class="text-start">
            Hector est le prince d'Ostia. Il devient marquis à un jeune âge, du
            fait de ses parents mourant de maladies. Hector fait un pacte avec
            Eliwood l'obligeant à se combattre contre lui à chaque 2 mois,
            forgeant leur amitié.
        </p>
        <p class="text-start">
            Hector aide Lyn et Eliwood dans leur quêtes. Durant leur périple,
            Hector accepte l'épreuve pour obtenir la hache légendaire Armads.
            Après de lourds efforts, Hector se retrouve digne de la hache
            légendaire, mais cette hache a un point négatif, elle le maudit à
            "mourrir non paisiblement, mais en combat". Hector, sachant cela,
            acquiert quand même Armads car il veut tout faire pour aider
            Eliwood.
        </p>
    </div>
</div>
<footer class="pt-3">
    <h2>Sources des images</h2>
    <button type="button"
            class="RESET-BTN btn text-decoration-underline"
            data-bs-toggle="popover"
            data-bs-trigger="hover"
            data-bs-title="Source"
            data-bs-content="Artwork #4 officiel de Fire Emblem 7 venant du jeu. (Cliquer pour le lien) ">
        <a class="text-light"
           href="https://serenesforest.net/blazing-sword/miscellaneous/cgs/">Première image</a>
    </button>
    <button type="button"
            class="RESET-BTN btn text-decoration-underline"
            data-bs-toggle="popover"
            data-bs-trigger="hover"
            data-bs-title="Source"
            data-bs-content="Artwork #12 officiel de Fire Emblem 7 venant du jeu. (Cliquer pour le lien) ">
        <a class="text-light"
           href="https://serenesforest.net/blazing-sword/miscellaneous/cgs/">Deuxième image</a>
    </button>
    <button type="button"
            class="RESET-BTN btn text-decoration-underline"
            data-bs-toggle="popover"
            data-bs-trigger="hover"
            data-bs-title="Source"
            data-bs-content="Artwork #14 officiel de Fire Emblem 7 venant du jeu. (Cliquer pour le lien) ">
        <a class="text-light"
           href="https://serenesforest.net/blazing-sword/miscellaneous/cgs/">Troisième image</a>
    </button>
</footer>